{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="{% static 'dealsnepalapp/css/main.css' %}" rel="stylesheet">
    <title> dealsnepal </title>

  </head>
        <body>

            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
              <div class="container">
                <a class="navbar-brand" href="#">DealsNepal</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

            {% block content %}{% endblock %}


              <!-- Pagination -->
              <!--<ul class="pagination justify-content-center">-->
                <!--<li class="page-item">-->
                  <!--<a class="page-link" href="#" aria-label="Previous">-->
                    <!--<span aria-hidden="true">&laquo;</span>-->
                    <!--<span class="sr-only">Previous</span>-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li class="page-item">-->
                  <!--<a class="page-link" href="#">1</a>-->
                <!--</li>-->
                <!--<li class="page-item">-->
                  <!--<a class="page-link" href="#">2</a>-->
                <!--</li>-->
                <!--<li class="page-item">-->
                  <!--<a class="page-link" href="#">3</a>-->
                <!--</li>-->
                <!--<li class="page-item">-->
                  <!--<a class="page-link" href="#" aria-label="Next">-->
                    <!--<span aria-hidden="true">&raquo;</span>-->
                    <!--<span class="sr-only">Next</span>-->
                  <!--</a>-->
                <!--</li>-->
              <!--</ul>-->


            <!-- /.container -->
   <!-- Footer -->
            <footer class="py-2 bg-dark footer">
              <div class="container ">
                <p class="m-0 text-center text-white">dealsnepal&copy;dealsnepal.com</p>
              </div>
              <!-- /.container -->
            </footer>

            <!-- Bootstrap core JavaScript -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
          </body>

</html>