{% extends "dealsnepalapp/base.html" %}
{% load static %}
{% block content %}

        <!-- Page Content -->
    <div class="container">
      <div class="column">

      <div class="row">
              <!-- Page Heading -->
              <h1 class="my-4">Smartphones
                <small></small>
              </h1>
      </div>
        </div>
    <div class="column">
    {% for phoneinfo in phoneinfo %}
            <div class="column">

                  <div class="row" style="height: 200px">
                      <div class="col-md-6">
                          {{phoneinfo.name}}<p>
                          {{phoneinfo.price}}<p>
                          {{phoneinfo.link_url}}<p>
                          {{phoneinfo.link_img}}<p>

                      </div>
                      <div class="col-md-6">
                          {{phoneinfo.name}}<p>
                          {{phoneinfo.price}}<p>
                          {{phoneinfo.link_url}}<p>
                          {{phoneinfo.link_img}}<p>
                      </div>


                  </div>
              </div>

    {% endfor %}
       </div>
{% endblock content %}
