{% extends "dealsnepalapp/base.html" %}
{% load static %}
{% block content %}

        <!-- Page Content -->
   <div class="container col-md-12" style="padding:80px">
    {% for phoneinfo in phoneinfo %}
             <div >
               <span >
                 <img src="{{phoneinfo.link_img}}" height="200"; width="200">
               </span>
               <span class="col-md-6">
                 <a href="{{phoneinfo.link_url}}"><b>{{ phoneinfo.name }}</b></a>
               </span>
               <span><b>Rs. {{ phoneinfo.price }}</b></span>
             </div>
     {% endfor %}
    </div>

     {% endblock content %}
